@using Models.Metadata
@inherits TemplateBase
@attribute [ValueKind(typeof(object))]
@attribute [ReadOnly]

@if (Value != null)
{
    @foreach (var item in Value.GetType().GetProperties())
    {
        <span>@item.Name:</span>
        <span>@item.GetValue(Value)</span>
        <br />
    }
}

@code {
    [Parameter]
    public object? Value{ get; set; }

    [Parameter]
    public string? Label{ get; set; }
}
