@using Models.Metadata

@inherits TemplateBase
@attribute [ValueKind(typeof(double))]

<div class=row>
	<div class=col-12>
		@Label:
		<Radzen.Blazor.RadzenNumeric Disabled TValue="double" @bind-Value="Value"></Radzen.Blazor.RadzenNumeric>
	</div>
</div>

@code {
	[Parameter]
	public string? Label { get; set; }

	[Parameter]
	public double Value { get; set; }
}
