@using Models.Metadata
@inherits TemplateBase
@attribute [ValueKind(typeof(int))]

    <div class=row>
        <div class=col-12>
            @Label:
            <Radzen.Blazor.RadzenNumeric Disabled @bind-Value="Value"></Radzen.Blazor.RadzenNumeric>
        </div>
    </div>

@code {
    [Parameter]
    public int Value { get; set; }

    [Parameter]
    public string? Label { get; set; }
}
