@using Models.Metadata

@inherits TemplateBase
@attribute [Multiline]
@attribute [Editable]
@attribute [ValueKind(typeof(string))]
<div class=row>
	<div class=col-12>
		@Label:
		<Radzen.Blazor.RadzenTextArea @bind-Value=Value></Radzen.Blazor.RadzenTextArea>
	</div>
</div>

@code {
	[Parameter]
	public string? Label { get; set; }

	[Parameter]
	public string? Value { get; set; }
}
