@using Attribute_Reflection_UseCase2_UserInteraction_Templates.Helpers
@using Models.Metadata

@inherits TemplateBase
@attribute [Multiline]
@attribute [Editable]
@attribute [ValueKind(typeof(string))]
<div class=row>
	<div class=col-12>
		@Label:
		<Radzen.Blazor.RadzenTextArea Value="@Value" ValueChanged="(val) => HandleValueChanged(val, AccessorInstance!)"></Radzen.Blazor.RadzenTextArea>
	</div>
</div>

@code {
	[Parameter]
	public string? Value { get; set; }

	private void HandleValueChanged(string value, object instance)
    {
        Value = value;

        if (ValueChanged.HasDelegate)
        {
            this.ValueChanged.InvokeAsync(new ValueChangedArguments(value, PropertyInfo!, instance));
        }
    }
}
