@using GUI_Generator_UseCase1_Display.GeneratorInputs
@if (UserModel != null && DeviceModel != null && InterfaceSpecification != null)
{
    <h2>Test</h2>
}
@code {
    [Parameter]
    public UserModel? UserModel { get; set; }

    [Parameter]
    public DeviceModel? DeviceModel { get; set; }

    [Parameter]
    public InterfaceSpecification? InterfaceSpecification { get; set; }
}