@using Models.Metadata

@inherits TemplateBase
@attribute [ReadOnly]
@attribute [ValueKind(typeof(string))]
<div class=row>
	<div class=col-12>
		@Label:
		<Radzen.Blazor.RadzenTextBox Disabled ValueChanged="(newValue) => HandleValueChanged(newValue)"></Radzen.Blazor.RadzenTextBox>
	</div>
</div>

@code {
	[Parameter]
	public string? Label { get; set; }

	[Parameter]
	public string? Value { get; set; }

	private void HandleValueChanged(string newValue)
	{
		this.Value = newValue;
	}
}
