@using Models.Metadata

@inherits TemplateBase
@attribute [StringLength(20)]

@if (Data != null)
{
    <div class=row>
        <div class=col-12>
            @Label:
            <Radzen.Blazor.RadzenTextBox Disabled @bind-Value=@Data></Radzen.Blazor.RadzenTextBox>
        </div>
    </div>
}
@code {
    [Parameter]
    public string? Data { get; set; }

    [Parameter]
    public string? Label { get; set; }
}
