@page "/"
@using Models.UseCases.DisplayOnly.UseCase1
@using Models.UseCases.IncludingUserInteraction.UseCase1
@using System.Reflection


<h1>Use case deemed impossible using only reflection without the addition of some metadata, due to action buttons like login and register not being part of the model and therefore not allowing a reflection based approach to logically infer the need for providing these buttons</h1>