@using Models.UseCases.IncludingUserInteraction.UseCase1

<Radzen.Blazor.RadzenCard>
    <h3>Registration</h3>
</Radzen.Blazor.RadzenCard>

@code {
    [Parameter]
    public LoginModel? LoginModel{ get; set; }
}
