@if (Data != null && Data.Any())
{
    <span>@Label:</span>
    <br />
    <table class="table table-hover">
        <thead>
            <tr>
                @foreach (var property in Data.First().GetType().GetProperties())
                {
                    <th>@property.Name</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Data)
            {
                foreach (var property in item.GetType().GetProperties())
                {
                    <td>@property.GetValue(item)</td>
                }
            }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public IEnumerable<object>? Data { get; set; }

    [Parameter]
    public string? Label { get; set; }
}
