@inherits TemplateBase

@if (Data != null)
{
    @foreach (var item in Data.GetType().GetProperties())
    {
        <span>@item.Name:</span>
        <span>@item.GetValue(Data)</span>
        <br />
    }
}

@code {
    [Parameter]
    public object? Data{ get; set; }
}
