@if (Data != null)
{
    <div class=row>
        <div class=col-12>
            @Label:
            <Radzen.Blazor.Rendering.Text Value=@Data.ToString()></Radzen.Blazor.Rendering.Text>
        </div>
    </div>
}
@code {
 [Parameter]
    public object? Data { get; set; }

    [Parameter]
    public string? Label { get; set; }
}
