@using Attribute_Reflection_UseCase1_DisplayOnly_Templates.Templates
@using Models.Metadata
@inherits TemplateBase
@attribute [Editable]
@attribute [Multiline]
@attribute [ValueKind(typeof(string))]

<h2>Multiline textbox here (not actually needed, template just for demonstration of attribute filtering)</h2>
@code {

}
