
<h1>This is some markup</h1>
<h2>This is some other markup</h2>

@code{
    /// <summary>
    /// This is a regular field of type string.
    /// It can be modified from anywhere inside the component, it can
    /// not be accessed in any way from outside the component however.
    /// </summary>
    private string privateStringField;

    /// <summary>
    /// This is a public property of type string that is annotated
    /// with the parameter attribute.
    /// It can therefore be passed to the component and bound to from the outside
    /// during the component's initialization.
    /// </summary>
    public string ValueString { get; set; }

    /// <summary>
    /// This is a public method of type void.
    /// It can be called from anyhwere inside and outside the component.
    /// </summary>
    public void SomeMethod()
    {
        Console.WriteLine("Called some method");
    }

    /// <summary>
    /// This method overrides one of the virtual methods of the component base class,
    /// which every component inherits per default, if no other base type is specified.
    /// </summary>
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}