@using GeneratorSharedComponents.Abstractions
@using Models.Metadata

@inherits WidgetBase
@attribute [ReadOnly]
@attribute [ValueKind(typeof(string))]

<span>@Label</span>
<Radzen.Blazor.RadzenTextBox Disabled Value=@Value></Radzen.Blazor.RadzenTextBox>

@code {
	[Parameter]
	public string? Value { get; set; }
}