@using GeneratorSharedComponents.Abstractions
@using Models.Metadata

@inherits WidgetBase
@attribute [ValueKind(typeof(string))]

<span>@Label</span>
<Radzen.Blazor.RadzenTextBox @bind-Value="Value"></Radzen.Blazor.RadzenTextBox>
@code {
	[Parameter]
	public string? Value { get; set; }
}
