@using GeneratorSharedComponents.Abstractions
@using Models.Metadata

@inherits WidgetBase
@attribute [ValueKind(typeof(float))]

<span>@Label</span>
<Radzen.Blazor.RadzenNumeric Disabled @bind-Value="Value"></Radzen.Blazor.RadzenNumeric>
@code {
	[Parameter]
	public float Value { get; set; }
}
