@inject AppState AppState

@if (Label != null)
{
	<label>@Label</label>
}
<Radzen.Blazor.RadzenSwitch Disabled Value=@this.Value></Radzen.Blazor.RadzenSwitch>




@code {
	[Parameter]
	public bool Value { get; set; }

	[Parameter]
	public string? Label { get; set; }
}
