@inject AppState AppState

    @if (Label != null)
{
    <label>@Label</label>
}
<Radzen.Blazor.RadzenSwitch Disabled Value=@this.Value></Radzen.Blazor.RadzenSwitch>




@code {
    private bool value;

    [Parameter]
    public bool Value {get{ return value; }
        set
        {
            if (value != this.value)
            {
                this.value = value;
                AppState.Visible = this.value;
                AppState.RaiseEvent();
            }
        }
    }

    [Parameter]
    public string? Label { get; set; }
}
